<strong>Solicitação de acesso</strong>
<p>
  Uma nova solicitação de acesso ao sistema foi realizada para o e-mail (
  {{ email }} ).
</p>
<p>Usuário:{{ name }} <br />Email:{{ email }} <br/> Condomínio:{{condominium}}</p>

